body, html {
    height: 100%;
    margin: 0;
    
}
.Ptag
{
    color: black;
    height: 150px; /* Set the height you prefer */
    overflow: auto;
    animation: scroll 10s linear infinite; /* Create the scrolling animation */
}
@keyframes scroll {
    from {
        transform: translateX(100%); /* Start from the right */
    }
    to {
        transform: translateX(-100%); /* End on the left */
    }
}
.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #c16ba0, #90abd3,#ac9ba6);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
   
}
